# Virtual environment
venv/

# Database SQLite
db.sqlite3

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# File di sistema
.DS_Store
Thumbs.db

# File di configurazione locale / segreti
*.env
.env

# File temporanei di sviluppo locale
crea_admin.py
.ide/

# Coverage e test
.coverage
htmlcov/
.claude/
